body {
    font-family: 'Nova Flat', cursive;
    display: block;
    background-color: rgb(45,73,24); /* For browsers that do not support gradients
    background-color: rgba(48, 51, 107,0.8); /* For browsers that do not support gradients */
    /* background-image: linear-gradient(rgb(45,73,24) 30% , #58704d , white , white ); Standard syntax (must be last) */
}

/* GAME LANDING PAGE */
#firstPageContainer{
    display: flex;
    height: 200px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
#title {
    color: white;
    margin: 0;
}
#button {
    height: 25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(45,73,24);
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 5px;
}

/* GAME INSTRUCTION PAGE */
#instructionCont{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Nova Flat', cursive;
    height: 200px;
}
#directionCont{
    display: flex;
    flex-direction: row;
    margin: 0;
}
#ruleCont{
    padding-top: 10px;
    padding-bottom: 10px;
}
h2{
    margin: 0;
    font-size: 11px;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
#buttonCont{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 90%;

}
#direction{
    color: red;
    font-size: 15px;
}
.button{
    color: white;
    border:none;
    border-radius: 10px;
    /* box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.75); */
}

#easy{
    background-color: #4A90E2;
}

#medium{
    background-color: #0EBD71;

}

#hard{
    background-color: #E4D732;

}

#pro{
    background-color: #D0021B;

}

.pressCont{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 93%;
    padding-top: 3px;
}

.press{
    height: 20px;
    width: 20px;
    background-color: rgb(200, 200, 200);
    border-radius: 3px;
    text-align: center;
}

/* game CSS */
.gameContainer{
    display: none;
    /* background-color: rgba(48, 51, 107,0.4); */
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    height: 250px;
}
#score{
    color: white;
    font-family: 'Nova Flat', cursive;
    margin: 0;
    font-size: 15px;
}
#gameoverCont{
    display: none;
    position: absolute;
    top: 18%;
    left: 10%;
}
#againButton{
    position: absolute;
    top: 40%;
    left: 25%;
    height: 25px;
    width: 100px;
    border-radius: 10px;
}
